<!DOCTYPE html>
<html lang=en>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="description" content="Singapore postcodes map to actual buildings">
		<link rel="stylesheet" href="https://newcss.net/lite.css">
		<title>Singapore postcode lookup</title>
	</head>
	<body>
		<form>
		<p>
		<label>Singapore Postcode:<input name="postcode" required type="number" min="000001" max="999999"></label>
		</p>
		<p>
		<label>Response</label><br>
		<label>
			<input type="radio" name="r" value="json">
			JSON
		</label>
		<br>
		<label>
			<input type="radio" name="r" value="gmap" checked>
			Google Maps
		</label>
		</p>
		<input type="submit">
		</form>

<p><a href="https://github.com/kaihendry/singapore-postcode">MIT Source code</a></p>
	</body>
	</html>
